<center><h1>Welcome to States & Cities App</h1></center>
<br/>
<br/>
<p>
	Here you can create your own list of states and their respectively cities
	<br/>
	Click on the links above to navegate for our app and see all the thinks you can do!
	
</p>
