<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>City code:</strong>
    <%= city.id %>
  </p>

  <p>
    <strong>From state:</strong>
    <%= city.state.name %>
  </p>

</div>
